In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
df = pd.read_csv('data.csv', encoding = 'utf-8')
df.head()
seleccion = ['fecha_fallecimiento',
            'edad', 'sexo', 'criterio_fallecido',
            'dpt_cdc', 'cdc_positividad', 'flag_vacuna',
            'flag_hospitalizado', 'flag_uci', 'con_oxigeno',
            'con_ventilacion', 'evolucion_hosp_ultimo']
df = df[seleccion]
df.head()

,fecha_fallecimiento,edad,sexo,criterio_fallecido,dpt_cdc,cdc_positividad,flag_vacuna,flag_hospitalizado,flag_uci,con_oxigeno,con_ventilacion,evolucion_hosp_ultimo
0,4/04/2021,84,M,Criterio virolÃ³gico,LIMA,1,1,0,0,0,0,NaN
1,16/03/2021,74,M,Criterio virolÃ³gico,LIMA,1,0,0,0,0,0,NaN
2,28/05/2021,56,M,Criterio virolÃ³gico,LIMA,1,0,1,0,1,0,defuncion
3,18/07/2021,64,M,Criterio serolÃ³gico,LIMA,1,1,0,0,0,0,NaN
4,17/03/2021,66,M,Criterio virolÃ³gico,LIMA,1,0,0,0,0,0,NaN

In [3]:
def add_LatLong(df):
    mapeo = pd.read_excel('Tabla_Lat_Long.xlsx')
    data = df['dpt_cdc'].copy()
    mapeo.head()

    Lat_Long = dict()
    for i, element  in enumerate(mapeo['Ciudad']):
        Lat_Long[element.lower()] = [mapeo['Latitud'][i], mapeo['Longitud'][i]]
    for i, element in enumerate(data):
        if element.lower() in Lat_Long.keys():
            data[i] = Lat_Long[element.lower()]
        else:
            print(element)
    data = pd.DataFrame((i for i in data), columns = ['lat', 'long'])
    df = pd.concat([df, data], axis = 1)
    return df

In [4]:
df.head()

,fecha_fallecimiento,edad,sexo,criterio_fallecido,dpt_cdc,cdc_positividad,flag_vacuna,flag_hospitalizado,flag_uci,con_oxigeno,con_ventilacion,evolucion_hosp_ultimo
0,4/04/2021,84,M,Criterio virolÃ³gico,LIMA,1,1,0,0,0,0,NaN
1,16/03/2021,74,M,Criterio virolÃ³gico,LIMA,1,0,0,0,0,0,NaN
2,28/05/2021,56,M,Criterio virolÃ³gico,LIMA,1,0,1,0,1,0,defuncion
3,18/07/2021,64,M,Criterio serolÃ³gico,LIMA,1,1,0,0,0,0,NaN
4,17/03/2021,66,M,Criterio virolÃ³gico,LIMA,1,0,0,0,0,0,NaN

In [9]:
df.shape[0]

121392

In [11]:
import datetime
df['fecha_fallecimiento'] = pd.to_datetime(df['fecha_fallecimiento'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121392 entries, 0 to 121391
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_fallecimiento    121392 non-null  datetime64[ns]
 1   edad                   121392 non-null  int64
 2   sexo                   121392 non-null  object
 3   criterio_fallecido     121392 non-null  object
 4   dpt_cdc                121392 non-null  object
 5   cdc_positividad        121392 non-null  int64
 6   flag_vacuna            121392 non-null  int64
 7   flag_hospitalizado     121392 non-null  int64
 8   flag_uci               121392 non-null  int64
 9   con_oxigeno            121392 non-null  int64
 10  con_ventilacion        121392 non-null  int64
 11  evolucion_hosp_ultimo  23282 non-null   object
dtypes: datetime64[ns](1), int64(7), object(4)
memory usage: 11.1+ MB

In [14]:
df.head()

,fecha_fallecimiento,edad,sexo,criterio_fallecido,dpt_cdc,cdc_positividad,flag_vacuna,flag_hospitalizado,flag_uci,con_oxigeno,con_ventilacion,evolucion_hosp_ultimo
0,2021-04-04,84,M,Criterio virolÃ³gico,LIMA,1,1,0,0,0,0,NaN
1,2021-03-16,74,M,Criterio virolÃ³gico,LIMA,1,0,0,0,0,0,NaN
2,2021-05-28,56,M,Criterio virolÃ³gico,LIMA,1,0,1,0,1,0,defuncion
3,2021-07-18,64,M,Criterio serolÃ³gico,LIMA,1,1,0,0,0,0,NaN
4,2021-03-17,66,M,Criterio virolÃ³gico,LIMA,1,0,0,0,0,0,NaN